@font-face {
  font-family: 'Source Code Pro';
  src: url('./SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('./SourceSerifPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('./SourceSerifPro-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('./SourceSerifPro-Bold.ttf');
  font-weight: bold;
}

:root {
  --dark: #333;
  --dark__lighter: #444;
  --border-gray: #aaa;
  --code-bg: #efefef;
  --code-bg__lighter: #f0f0f0;
  --link-color: #008ec4;

  --body-font: 'Source Serif Pro', sans-serif;
  --code-font: 'Source Code Pro', monospace;

  --syntax-punct: #1b1e23;
  --syntax-comment: #828282;
  --syntax-number: #20a5ba;
  --syntax-keyword: #c30771;
  --syntax-name: #10a778;
  --syntax-string: #008ec4;
  --syntax-unknown: #ffbedc;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow: auto;
}

html {
  font-family: var(--body-font);
  font-size: 14px;
  color: var(--dark);
}

.katex {
  font-size: 1.1em !important;
}

main {
  max-width: 45em;
  margin: 6em auto;
}

section.note-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--dark);
}

h2 {
  font-size: 1.5em;
  margin: 0.25em 0;
}

.h2-container {
  align-items: baseline;
  display: flex;
  gap: 8px;
}

.h2-container a {
  font-size: 1.5em;
  font-weight: bold;
  font-family: var(--code-font);
  visibility: hidden;
}

.h2-container:hover a {
  visibility: unset;
}

p {
  margin: 1em 0;
  line-height: 1.3;
}

code {
  font-family: var(--code-font);
  font-size: 0.9em;
  line-height: 1.3;
}

code .punct,
code .op {
  color: var(--syntax-punct);
}

code .keyword,
code .regex {
  color: var(--syntax-keyword);
}

code .name {
  color: var(--syntax-name);
}

code .number {
  color: var(--syntax-number);
}

code .comment {
  color: var(--syntax-comment);
}

code .string {
  color: var(--syntax-string);
}

code .unknown {
  color: var(--syntax-unknown);
}

code.inline {
  background-color: var(--code-bg);
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

pre {
  background-color: var(--code-bg);
  padding: 0.5em;
  margin: 1.5em -0.5em;
}

blockquote {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  border-left: 4px solid var(--dark__lighter);
  color: var(--dark__lighter);
  font-size: 13px;
}

blockquote pre {
  background-color: var(--code-bg__lighter);
}

ul,
ol {
  padding: 0;
  padding-left: 2em;
  margin: 1em 0;
}

a {
  color: var(--link-color);
  text-decoration: unset;
  cursor: pointer;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

figure {
  margin: 2em 0;
}

figcaption {
  font-size: 0.9em;
  margin: 1em 2em 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
