html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

main {
  margin: 1em auto;
  /* Add space to the bottom so that we can maintain a constant eye-line. */
  margin-bottom: 24em;
  max-width: 45em;
}

footer {
  margin: 1em auto;
  max-width: 45em;
}

footer span {
  display: block;
}

p,
blockquote,
pre,
ol,
ul {
  margin: 1em 0;
}

blockquote {
  padding-left: 1em;
  font-size: 0.95rem;
}

li > p {
  margin: 0.5em 0;
}

img {
  display: block;
  margin: 0 auto;
}

/* Add some space before the footnotes start. */
div.footnote:first-of-type {
  margin-top: 8em;
}

div.footnote {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

.footnote-content p:first-of-type {
  margin: 0;
}

.inline .katex {
  font-size: 1.1em !important;
}

code {
  font-family: monospace;
  font-size: 1em;
}

/* Use a slightly darker background to make code stand out. */
code.inline,
pre {
  background-color: #f0f0f0;
}

code.inline {
  padding: 0.05em 0.2em;
}

pre {
  padding: 0.5em;
  overflow-x: auto;
}

.comment {
  color: #7c6f64;
}

.keyword {
  color: #458588;
}

.name {
  color: #282828;
}

.string {
  color: #d79921;
}

.number {
  color: #d65d0e;
}

.punct {
  color: #928374;
}

.op {
  color: #928374;
}

.regex,
.boolean {
  color: #d3869b;
}
