html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

main {
  margin: 1em;
  margin-bottom: 24em;
  max-width: 40em;
}

p,
blockquote,
pre,
ol,
ul {
  margin: 1em 0;
}

h1:first-child,
p:first-child,
blockquote:first-child,
pre:first-child,
ol:first-child,
ul:first-child {
  margin-top: 0;
}

h1:last-child,
p:last-child,
blockquote:last-child,
pre:last-child,
ol:last-child,
ul:last-child {
  margin-bottom: 0;
}

blockquote {
  padding-left: 1em;
  font-size: 0.95rem;
}

div.footnote:first-of-type {
  margin-top: 4em;
}

div.footnote {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

/*
 * + ---- +
 * | Code |
 * + ---- +
 */

code {
  font-family: monospace;
}

code.inline,
pre {
  background-color: #f0f0f0;
}

code.inline {
  padding: 0.05rem 0.2rem;
  margin: 0 -0.2rem;
}

pre {
  padding: 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  overflow-x: auto;
}

.comment {
  color: #7c6f64;
}

.keyword {
  color: #458588;
}

.name {
  color: #282828;
}

.string {
  color: #d79921;
}

.number {
  color: #d65d0e;
}

.punct {
  color: #928374;
}

.op {
  color: #928374;
}

.regex {
  color: #d3869b;
}
